body {
    background-color: rgb(86, 154, 209);
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0;
}

main {
    flex-grow: 1;
}

.deleteBtn {
    background-image: url(icons8-cancel-48.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin-left: 2px;
    cursor: pointer;
}

input {
    background-color: rgb(228, 228, 228);
}

h1, #table1 {
    display: grid;
    place-items: center;
    padding: 10px;
}


#addBtnRow {
    display: flex;
    justify-content: center;
}

td {
    padding: 5px;
}

.expenseType {
    width: 150px;
    margin-right: 25px;
}

.expenseValue {
    width: 80px;
}

#addBtn {
    border-radius: 25px;
    cursor: pointer;
    margin-left: 100px;
    background-color: rgb(47, 92, 150);
    color: white;
}